@import  "../../global.scss";

.projectsList{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 0vw;

    .leftSide{
        width: 20vw;
        height: 120%;
        left: 15vw;
        background-image: linear-gradient(270deg, transparent, $backgroundcolor 10%);
        position: absolute;
    }

    .rightSide {
        width:20vw;
        height: 120%;
        right: 15vw;
        background-image: linear-gradient(90deg, transparent, $backgroundcolor 10%);
        position: absolute;
        z-index: 2;
    }
    .arrowLeft {
        height: 25vw;
        position: absolute;
        cursor: pointer;
        font-size: 50px;
        color: grey;
        font-weight: 50;
        z-index: 3;
        left: 30vw;

        &:hover{
            color: black;
            transform: scale(1.2);
            transition: all 0.3s ease-out;
            }

        }
        
    .arrowRight {
        height: 25vw;
        position: absolute;
        cursor: pointer;
        font-size: 50px;
        color: grey;
        font-weight: 50;
        z-index: 2;
        right: 30vw;

        &:hover{
            color: black;
            transform: scale(1.2);
            transition: all 0.3s ease-out;
            }
        }

.carousel {
    padding-top: 2vw;
    display: flex;
    position: relative;
    left: 45vw;
    transition: all 1s ease-out;

    .container {
        display: flex;
        align-items: center;
        justify-self: center;

    }

    .leftcontainer {
        left: 1vw;
    }

    .rightcontainer {
        right: 1vw;
    }
    
}
}
