@import  "../../global.scss";

.box {
    // position:fixed;
    
    .bar {
       
        display: flex;
        position: fixed;
        bottom: 12px;
        right:70px;
        flex-direction: row;
        z-index: 3;

        a svg {
            width: 40px;
            height: 40px;
            margin: 0 10px;

        }

        
    }
}