@import url('https://fonts.googleapis.com/css?family=Comfortaa');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import  "../../global.scss";

.navbar { 
    margin:0vw;
    width: 95%;
    position: fixed;
    height: 8vw;
    top: 0;
    backdrop-filter: blur(1px);
    z-index: 4;
    
    .wrapper {
        padding: 20px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .left {
            display: flex;
            align-items: center;
    
            .name {
                font-family: Comfortaa;
                font-style: normal;
                font-weight: bold;
                font-size: 3vw;
                color: #25282B;
                text-decoration: none;
            }

        .right {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
    
            .titles {
                flex: none;
                order: 2;
                flex-grow: 0;
                justify-content: space-between;

                
                }
            }
        }       
    }
    
}

a {
    font-family: Comfortaa;
    font-style: normal;
    font-weight: 500;
    font-size: 1.5vw;
    text-decoration: none;
    padding: 16px;
    color: #25282B;

}

a:hover {
    font-weight: 500;
    color: #81858a;
}